 .image-container {
            display: flex;
            justify-content: center; 
            align-items: center;     
            gap: 2vw;                
        }

        .Boba {
            width: 40vw;
            border-radius: 70%;
        }

        .pray {
            width: 20vw; 
        }

        body {
            background-color: rgba(252, 203, 71, 0.274);
        }

        h1, p, b {
            text-align: center;
            position: relative;
            color: rgb(104, 89, 5);
        }

        h1 {
            font-size: 15vh;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        p {
            font-size: 10vh;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        } 

        b {
            font-size: 2vh;
        }
